[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastmcp = "*"

[dev-packages]
build = "*"
twine = "*"
black = "*"
flake8 = "*"
pytest = "*"
isort = "*"

[requires]
python_version = "3.10"

[scripts]
build = "python -m build"
upload-test = "twine upload --repository testpypi dist/*"
upload = "twine upload dist/*"
test = "pytest"
format = "black ."
lint = "flake8 --max-line-length=88 siril_mcp/"
